<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>351367698939-019belia3gqv5obd6pbg9ls98s1p7aea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351367698939-019belia3gqv5obd6pbg9ls98s1p7aea</string>
	<key>API_KEY</key>
	<string>AIzaSyCTeANIFUSCyP6u9FTbMC_elP65ubiZ4kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>351367698939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bepidCampinas.GreenTech</string>
	<key>PROJECT_ID</key>
	<string>greentech-e4352</string>
	<key>STORAGE_BUCKET</key>
	<string>greentech-e4352.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:351367698939:ios:83836c708dbf3b88</string>
	<key>DATABASE_URL</key>
	<string>https://greentech-e4352.firebaseio.com</string>
</dict>
</plist>